body{
    font-family: 'Times New Roman', Times, serif;
}


.auto-group-qksx-yYB {
    flex-shrink: 0;
    width: 144rem;
    height: 60.75rem;
    position: relative;

     .terms-conditions-Krw {
      width: 13.8rem;
      height: 1.9rem;
      top: 10.7rem;
      font-size: 10px;
      font-weight: 100;
      color: #ffffff;
     font-family: 'Times New Roman', Times, serif;
      position: absolute;
      left: 104.2rem;
      line-height: 1.2125;
      white-space: nowrap;
    } 
     .group-7-q4b {
      width: 144rem;
      height: 60.75rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      flex-direction: column;

      .item--NaK {
        margin-bottom: 2.85rem;
        width: 100%;
        height: 12.5rem;
        flex-shrink: 0;

        .auto-group-auqj-XTD {
         
         margin-top: 7%;
          color: #ffffff;
          font-family: 'Times New Roman', Times, serif;
          white-space: nowrap;
          width: 100%;
          font-size: 20px;
          display: flex;
          background-color: #4981e2;
          height: 30%;
        } 
      }
      .auto-group-pow7-XV9 {
        flex-direction: column;
        background-color: #4981e2;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-hnum-sZ1 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.8rem 8.8rem 4.7rem 8.8rem;
          width: 100%;
          display: flex;
        }
          .item--CbH {
            margin-bottom: 1.8rem;
            width: 94.7rem;
            height: 24rem;
            flex-shrink: 0;
          }
            .auto-group-1puk-MDH {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;
            }
              .auto-group-wusf-W6B {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 6.3rem;
                height: 100%;
              }
                .footer-logo-2-2-FZZ {
                  height: 6.6rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 1rem;
                  width: 24rem;
                }
                .aavantika-gas-limited202-b-2nd-floor-nrk-business-parkvijay-nagar-squareabroad-indore-452010-customer-care-number0731-6712222from-9-30-am-to-6-00-pm-nJb {
                  color: #ffffff;
                  font-family: 'Times New Roman', Times, serif;
                  flex-shrink: 0;
                  margin-left: 0.7rem;
                  max-width: 20.7rem;
                  font-size: 20px;
                  font-weight:  100;
                  line-height: 1.2125;
                }
              }
              .corporate-about-agl-vision-mission-objectives-goals-leadership-vigilance-awards-our-network-detailed-network-layout-CdD {
                max-width: 15rem;
                font-size: 20px;
                
                line-height: 1.2125;
                color: #ffffff;
                font-family: 'Times New Roman', Times, serif;
                flex-shrink: 0;
                margin-right: 3.9rem;
              }
                .corporate-about-agl-vision-mission-objectives-goals-leadership-vigilance-awards-our-network-detailed-network-layout-CdD-sub-0 {
               
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: 'Times New Roman', Times, serif;
                  font-size: 1.5rem;
                }
               
              }
              .customer-refund-policy-name-transfer-policy-temporary-discontinuation-process-permanent-disconnection-process-redeveloped-building-gas-connection-process-faqs-fv7 {
                 line-height: 1.2125;
                color: #ffffff;
                font-family: 'Times New Roman', Times, serif;
                flex-shrink: 0;
                margin: 0.1rem 7rem 0rem 0rem;
                max-width: 18.6rem;
                font-size: 20px;

                .customer-refund-policy-name-transfer-policy-temporary-discontinuation-process-permanent-disconnection-process-redeveloped-building-gas-connection-process-faqs-fv7-sub-0 {
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: 'Times New Roman', Times, serif;
                  font-size: 20px;
              
                }
              
              }
              .quick-links-download-e-tender-convert-to-cng-photo-gallery-public-notices-download-app-link-highlights-customer-testimonials-agl-employee-login-extra-pipe-payment-Les {
                flex-shrink: 0;
                max-width: 19.9rem;
                font-size: 20px;
                font-weight: 20;
                line-height: 1.2102272034;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';

                .quick-links-download-e-tender-convert-to-cng-photo-gallery-public-notices-download-app-link-highlights-customer-testimonials-agl-employee-login-extra-pipe-payment-Les-sub-0 {
                
                  line-height: 1.2125;
                  color: #ffffff;   font-family: 'Times New Roman', Times, serif;
                  font-size: 1.5rem;
                }
                .quick-links-download-e-tender-convert-to-cng-photo-gallery-public-notices-download-app-link-highlights-customer-testimonials-agl-employee-login-extra-pipe-payment-Les-sub-1 {
                    font-size: 20px;
                  font-weight: 20;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: 'Times New Roman', Times, serif;
                }
              }
            }
          
          .auto-group-cqpr-tCX {
            margin-left: 1.1rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1177566-1-RiF {
              height: 5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 5rem;
            }
            .item-3621435-1-9u9 {
              margin-right: 1.1rem;
              width: 5rem;
              height: 5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-2875432-1-h9y {
              width: 5rem;
              height: 5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        
        .item--2T9 {
          height: 6.1rem;
          flex-shrink: 0;
          width: 100%;

          .auto-group-jwhm-P2o {
            align-items: center;
            background-color: #0f3f92;
            box-sizing: border-box;
            padding: 0.2rem 3.9rem 0.2rem 7.9rem;
            width: 100%;
            height: 100%;
            display: flex;

            .aavantika-gas-limited-tkF {
              font-weight: 20;
              line-height: 1.2125;
              color: #ffffff;
              font-family: 'Times New Roman', Times, serif;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.8rem 0.4rem 0rem;
              font-size: 20px;
            }
            .powered-byadit-microsys-CF9 {
              margin: 0rem 41.1rem 3.8rem 0rem;
             
              line-height: 1.2125;
              color: white;
              flex-shrink: 0;
              font-size: 20px;
             margin-top: 3%;
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              font-family: 'Times New Roman', Times, serif;

            
            }
           
            .whole{
                margin-left:"-100%";
            }
          }
        }
      
    
  
